
.simple-window{
	position: absolute;

	width: 300px;
	height: 300px;

		background-color: #CCC;

}

.simple-window-container{
	position: relative;
	border: 2px solid #FF0F00;
	box-sizing: border-box;
	height: 100%;
}

.simple-window-header{
	position: absolute;
	background: #DDD;
	width: 100%;
	padding: 0 15px;
	height: 40px; line-height: 40px;
	cursor: move;
	box-sizing: border-box;
	z-index: 10;
}

.simple-window-body{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0; left: 0;
	padding: 50px 10px;
	box-sizing: border-box;
	z-index: 5;
}

.simple-window-footer{
	position: absolute;
	background-color: #AAA;
	bottom: 0;
	width: 100%;
	padding: 0 15px;
	height: 40px; line-height: 40px;
	z-index: 10;
	box-sizing: border-box;
}














